rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Projects collection
    match /projects/{projectId} {
      allow read, write: if true;
    }
    
    // Videos collection
    match /videos/{videoId} {
      allow read, write: if true;
    }
  }
}
